@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#background {
    width: auto;
    height: 100%;
    background-image: url(../png/stage_disease.png);
    background-size: 100% 100%;
}