@charset "UTF-8";

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
h1 {
    top: 5%;
    text-align: center;
}
a {
    border: 2px solid;
    position:absolute;
    margin: 20% 40%;
    width: 20%;
    height: 10%;
    font-size: 140%;
}

.button {
    display       : inline-block;
    border-radius : 1%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #99ff99;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
}
.button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
}